
/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove default list styles */
:is(ul, ol) {
  list-style-type: "";
  padding: 0;
}

/* Adjust default line height */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Avoid orphans on paragraphs */
p {
    text-wrap: pretty;
}

/* Remove default link styles */
a {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* FONTS */

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/inter-v18-latin-regular.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/inter-v18-latin-500.woff2') format('woff2');
  }
 
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/inter-v18-latin-700.woff2') format('woff2');
  }
 
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/inter-v18-latin-800.woff2') format('woff2');
  }


  /* CUSTOM PROPERTIES */

  :root {
     /* Primitive properties */

     --clr-blue: #1d4177;
     --clr-blue-dark: hsl(245, 80%, 19%);

     --clr-dark-red: hsl(350, 73%, 23%);
     --clr-brown: hsl(28, 37%, 23%);
     --clr-dark-brown: hsl(36, 10%, 10%);
     --clr-almost-white: hsl(0, 0%, 91%);
     --clr-very-light-blue: hsl(202, 58%, 88%);

     --ff-sans-serif: 'Inter', system-ui, sans-serif;

     --fw-400: 400;
     --fw-500: 500;
     --fw-700: 700;
     --fw-800: 800;

     /* Semantic properties */

     --clr-primary-100: var(--clr-blue);
     --clr-primary-200: var(--clr-blue-dark);

     --ff-primary: var(--ff-sans-serif);

     --fw-regular: var(--fw-400);
     --fw-medium: var(--fw-500);
     --fw-bold: var(--fw-700);
     --fw-extra-bold: var(--fw-800);
  }

  /* UTILITIES */

  .flow {
    --flow-space: 20px;
  }

  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }
   

  /* GENERAL STYLING */

  body {
    font-family: var(--ff-primary);
  }

.container {
  padding-inline: 2rem;
  max-width: 60rem;
  margin-inline: auto;
}


.header {
  padding-block: 20px;
}

.logo-header {
  margin-inline: auto;
  margin-block-end: 30px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-weight: var(--fw-bold);
  color: var(--clr-primary-100);
  text-transform: uppercase;
}

.nav__link {
  
  &[aria-current="page"] {
    text-decoration: underline;
    text-underline-offset: 6px;
  }

  &:is(:hover, :focus-visible) {
   color: var(--clr-primary-200);
  }
}

  
.meny {
  text-transform: uppercase;
  background-color: var(--clr-dark-brown);
  color: var(--clr-primary-100);
  color: var(--clr-very-light-blue);
  padding-block-start: 40px;
  padding-block-end: 50px;
  padding-inline: 20px;
  border-radius: 10px;
}

.meny-heading {
  text-align: center;
  margin-block: 40px;
}

.grid {
  --min-width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-width)), 1fr));
  gap: 40px;
}

.meny-kategori-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rettar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rett {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.pris {
  font-weight: var(--fw-medium);
}

.kontakt-text {
  display: flex;
  align-items: center;
  gap: 10px;
}