
/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove default list styles */
:is(ul, ol) {
  list-style-type: "";
  padding: 0;
}

/* Adjust default line height */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Avoid orphans on paragraphs */
p {
    text-wrap: pretty;
}

/* Remove default link styles */
a {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* FONTS */

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/inter-v18-latin-regular.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/inter-v18-latin-500.woff2') format('woff2');
  }
 
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/inter-v18-latin-700.woff2') format('woff2');
  }
 
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/inter-v18-latin-800.woff2') format('woff2');
  }


  /* CUSTOM PROPERTIES */

  :root {
     /* Primitive properties */

     --clr-blue: hsl(216, 61%, 29%);
     --clr-blue-dark: hsl(245, 80%, 19%);

     --clr-dark-red: hsl(350, 73%, 23%);
     --clr-brown: hsl(28, 27%, 23%);
     --clr-dark-brown: hsl(36, 5%, 10%);
     --clr-almost-white: hsl(0, 0%, 91%);
     --clr-very-light-blue: hsl(202, 58%, 92%);

     --ff-sans-serif: 'Inter', system-ui, sans-serif;

     --fw-400: 400;
     --fw-500: 500;
     --fw-700: 700;
     --fw-800: 800;

     --size-4px: 4px;
     --size-8px: 8px;
     --size-12px: 12px;
     --size-16px: 16px;
     --size-20px: 20px;
     --size-24px: 24px;
     --size-28px: 28px;
     --size-32px: 32px;
     --size-36px: 36px;
     --size-40px: 40px;
     --size-44px: 44px;
     --size-48px: 48px;
     --size-52px: 52px;
     --size-56px: 56px;
     --size-60px: 60px;
     --size-64px: 64px;
     --size-68px: 68px;
     --size-72px: 72px;
     --size-76px: 76px;
     --size-80px: 80px;
     --size-84px: 84px;
     --size-88px: 88px;
     --size-92px: 92px;
     --size-96px: 96px;
     --size-100px: 100px;

     /* Semantic properties */

     --clr-primary-100: var(--clr-blue);
     --clr-primary-200: var(--clr-blue-dark);

     --ff-primary: var(--ff-sans-serif);

     --fw-regular: var(--fw-400);
     --fw-medium: var(--fw-500);
     --fw-bold: var(--fw-700);
     --fw-extra-bold: var(--fw-800);

     --size-50: var(--size-4px);
     --size-100: var(--size-8px);
     --size-150: var(--size-12px);
     --size-200: var(--size-16px);
     --size-250: var(--size-20px);

     --size-300: var(--size-24px);
     --size-350: var(--size-28px);
     --size-400: var(--size-32px);
     --size-450: var(--size-36px);
     --size-500: var(--size-40px);

     --size-550: var(--size-44px);
     --size-600: var(--size-48px);
     --size-650: var(--size-52px);
     --size-700: var(--size-56px);
     --size-750: var(--size-60px);

     --size-800: var(--size-64px);
     --size-850: var(--size-68px);
     --size-900: var(--size-72px);
     --size-950: var(--size-76px);
     --size-1000: var(--size-80px);

     --size-1050: var(--size-84px);
     --size-1100: var(--size-88px);
     --size-1150: var(--size-92px);
     --size-1200: var(--size-96px);
     --size-1250: var(--size-100px);
  }

  /* UTILITIES */

  .flow {
    --flow-space: var(--size-300);
  }

  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }
   

  /* GENERAL STYLING */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  text-align: center;
  color: var(--clr-primary-100);
  font-weight: var(--fw-medium);
}

.container {
  max-width: 90rem;
  margin-inline: auto;
}


@keyframes reveal {
  from { opacity: 0; clip-path: inset(0% 60% 0% 50%); }
  to { opacity: 1; clip-path: inset(0% 0% 0% 0%); }
}


/* HEADER */

.header {
  margin-inline: auto;
  padding-block-start: var(--size-500);
  padding-block-end: var(--size-500);
  padding-inline: clamp(1.5rem, -2.66rem + 20.83vw, 14rem);
}

.logo-header {
  margin-inline: auto;
  margin-block-end: var(--size-400);
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-200);
  justify-content: center;
  font-weight: var(--fw-bold);
  color: var(--clr-primary-100);
  text-transform: uppercase;
}

.nav__link {
  
  &:is(:hover, :focus-visible) {
   color: var(--clr-primary-200);
   text-decoration: underline;
   text-underline-offset: var(--size-50);
  }
}


/* INTRO */

.intro {
  margin-inline: auto;
  padding-inline: clamp(1.5rem, -2.66rem + 20.83vw, 14rem);
}

.intro__image {
  --flow-space: var(--size-800);

  animation: auto linear reveal both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}


/* SENDESKJEMA */

.sendeskjema {
  padding-block-start: var(--size-1000);
  padding-block-end: var(--size-1000);
  background-color: var(--clr-very-light-blue);
  margin-inline: auto;
  padding-inline: clamp(1.5rem, -2.66rem + 20.83vw, 14rem);
}

.sendeskjema__tabell {
  width: 100%;
  margin-inline: auto;
  border-collapse: collapse;
}

caption {
  margin-block-start: var(--size-250);
  padding-block-end: var(--size-200);
  font-size: 1.25rem;
  font-style: italic;
  color: var(--clr-dark-brown);
}

th,
td {
  padding: .25em;
  border: 4px solid var(--clr-dark-brown);
}

tbody tr:nth-child(odd) {
  background-color: var(--clr-very-light-blue);
  color: var(--clr-dark-red);
}

tbody tr:nth-child(even) {
  background-color: var(--clr-almost-white);
  color: var(--clr-dark-red);
}


/* MENY */

.meny {
  text-transform: uppercase;
  background-color: var(--clr-dark-brown);
  color: var(--clr-very-light-blue);
  padding-block-start: var(--size-1000);
  padding-block-end: var(--size-900);
  margin-inline: auto;
  padding-inline: clamp(1.5rem, -2.66rem + 20.83vw, 14rem);
}

.meny-container {
  --flow-space: var(--size-800);
}

.meny-heading {
  margin-block: var(--size-500);
}

.grid {
  --min-width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-width)), 1fr));
  gap: var(--size-800);
}

.meny-kategori-heading {
  display: flex;
  align-items: center;
  gap: var(--size-150);
}

.rettar {
  display: flex;
  flex-direction: column;
  gap: var(--size-150);
}

.rett {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-50);
}

/* BILDER */

.bilder {
  padding-block-start: var(--size-900);
  margin-inline: auto;
  padding-inline: clamp(1.5rem, -2.66rem + 20.83vw, 14rem);
}

.galleri {
  --flow-space: var(--size-500);
  display: flex;
  flex-direction: column;
  gap: var(--size-500);
}


/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-500);
  padding-block-start: var(--size-1000);
  padding-block-end: var(--size-500);
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: clamp(1.5rem, -2.66rem + 20.83vw, 14rem);

}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--size-250);
}

.opningstider__list {
  line-height: 1.8;
}

.closed {
  color: var(--clr-dark-red);
  font-weight: var(--fw-extra-bold);
}

.kontakt-text {
  display: flex;
  align-items: center;
  gap: var(--size-100);
}

.telefon {
  --flow-space: 6px;
  letter-spacing: .05em;
}
